# Modelamiento proyecto 3

#### Primero traemos la data ya limpia de duplicados, nulls, outliers y variables que no aportan

In [1]:
import pandas as pd

data_completa = pd.read_csv("datos_limpios.csv")
data_completa.head()

,periodo,cole_area_ubicacion,cole_calendario,cole_caracter,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,estu_genero,estu_mcpio_presentacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20194,URBANO,A,TÉCNICO/ACADÉMICO,MIXTO,MAÑANA,CÚCUTA,OFICIAL,F,CÚCUTA,...,No,Si,Si,A-,32.0,45.0,42.0,42.0,49.0,218.0
1,20194,URBANO,A,ACADÉMICO,MIXTO,NOCHE,VILLA DEL ROSARIO,OFICIAL,F,VILLA DEL ROSARIO,...,No,No,No,A-,38.0,21.0,32.0,29.0,33.0,147.0
2,20172,URBANO,A,ACADÉMICO,MIXTO,NOCHE,VILLA DEL ROSARIO,OFICIAL,F,VILLA DEL ROSARIO,...,No,Si,No,A-,43.0,28.0,33.0,36.0,37.0,171.0
3,20162,RURAL,A,TÉCNICO/ACADÉMICO,MIXTO,MAÑANA,TIBU,OFICIAL,M,TIBÚ,...,Si,Si,Si,A-,47.0,39.0,42.0,49.0,49.0,225.0
4,20172,URBANO,A,ACADÉMICO,MIXTO,COMPLETA,CUCUTA,NO OFICIAL,F,CÚCUTA,...,Si,Si,Si,A-,47.0,44.0,41.0,44.0,54.0,229.0

In [2]:
data_completa.describe(include='object').transpose()

,count,unique,top,freq
cole_area_ubicacion,89922,2,URBANO,82293
cole_calendario,89922,3,A,89893
cole_caracter,89922,4,TÉCNICO/ACADÉMICO,49769
cole_genero,89922,3,MIXTO,84047
cole_jornada,89922,6,MAÑANA,49673
cole_mcpio_ubicacion,89922,91,CUCUTA,33851
cole_naturaleza,89922,2,OFICIAL,66830
estu_genero,89922,2,F,49680
estu_mcpio_presentacion,89922,14,CÚCUTA,53918
estu_mcpio_reside,89922,80,CÚCUTA,49512
fami_cuartoshogar,89922,11,Tres,34433
fami_educacionmadre,89922,12,Secundaria (Bachillerato) completa,22626
fami_educacionpadre,89922,12,Primaria incompleta,20716
fami_estratovivienda,89922,7,Estrato 1,39312
fami_personashogar,89922,17,3 a 4,21629
fami_tieneautomovil,89922,2,No,69082
fami_tienecomputador,89922,2,Si,46559
fami_tieneinternet,89922,2,Si,47260
fami_tienelavadora,89922,2,Si,58249
desemp_ingles,89922,5,A-,40318

#### Generamos nuestras variables dummies, para poder trabajar estos variables categoricas:

In [8]:
data_encoded = pd.get_dummies(data_completa, columns=['cole_area_ubicacion', 'cole_calendario', 'cole_caracter', 'cole_genero', 'cole_jornada', 
                                             'cole_mcpio_ubicacion', 'cole_naturaleza', 'estu_genero', 'estu_mcpio_presentacion', 'estu_mcpio_reside',
                                             'fami_cuartoshogar', 'fami_educacionmadre', 'fami_educacionpadre', 'fami_estratovivienda', 
                                             'fami_personashogar', 'fami_tieneautomovil', 'fami_tienecomputador', 'fami_tieneinternet', 
                                             'fami_tienelavadora', 'desemp_ingles'], drop_first=True)
data_encoded = data_encoded.astype(int)
data_encoded

,periodo,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO,cole_calendario_B,cole_calendario_OTRO,...,fami_personashogar_Tres,fami_personashogar_Una,fami_tieneautomovil_Si,fami_tienecomputador_Si,fami_tieneinternet_Si,fami_tienelavadora_Si,desemp_ingles_A1,desemp_ingles_A2,desemp_ingles_B+,desemp_ingles_B1
0,20194,32,45,42,42,49,218,1,0,0,...,0,0,0,0,1,1,0,0,0,0
1,20194,38,21,32,29,33,147,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20172,43,28,33,36,37,171,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,20162,47,39,42,49,49,225,0,0,0,...,0,0,0,1,1,1,0,0,0,0
4,20172,47,44,41,44,54,229,1,0,0,...,0,0,1,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89917,20172,65,61,57,58,59,296,1,0,0,...,0,0,1,1,1,1,0,1,0,0
89918,20194,83,79,81,72,71,382,1,0,0,...,0,0,0,1,1,0,0,0,1,0
89919,20172,51,50,60,55,50,268,1,0,0,...,0,0,0,0,0,1,1,0,0,0
89920,20142,47,33,44,40,29,187,1,0,0,...,1,0,0,0,0,0,0,0,0,0
89921,20142,41,47,49,49,52,243,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data_x = data_encoded.drop(['punt_ingles', 'punt_matematicas', 'punt_sociales_ciudadanas', 'punt_c_naturales', 'punt_lectura_critica',
                            'punt_global'], axis=1)
data_y = data_encoded['punt_global']

print(data_x.shape)
print(data_y.shape)

(89922, 260)
(89922,)

In [5]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

x_train_full, x_test, y_train_full, y_test = train_test_split(
    data_x, data_y, test_size=0.2, random_state=42) #Dividir el conjunto de datos en entrenamiento y valaidacion, 80% entrenamiento, 20% validacion

x_train, x_valid, y_train, y_valid = train_test_split(
    x_train_full, y_train_full, test_size=0.2, random_state=42) #Dividir el conjunto en  entrenamiento

# Normalizar los datos
std_scl = StandardScaler()
std_scl.fit(x_train)

x_train = std_scl.transform(x_train)
x_valid = std_scl.transform(x_valid)
x_test = std_scl.transform(x_test)

print(x_train.dtype)
print(x_test.dtype)
print(y_train.dtype)
print(y_test.dtype)

float64
float64
float64
float64