# Modelamiento proyecto 3

#### Primero traemos la data ya limpia de duplicados, nulls, outliers y variables que no aportan

In [1]:
import pandas as pd

data_completa = pd.read_csv("datos_limpios.csv")
data_completa.head()

,periodo,cole_area_ubicacion,cole_calendario,cole_caracter,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,estu_genero,estu_mcpio_presentacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20142,RURAL,A,TECNICO,MIXTO,MANANA,SAN CAYETANO,OFICIAL,F,CUCUTA,...,No,No,No,A-,36.0,44.0,51.0,37.0,37.0,209.0
1,20194,URBANO,A,TECNICO/ACADEMICO,MIXTO,TARDE,ABREGO,OFICIAL,M,ABREGO,...,No,No,Si,A-,42.0,41.0,39.0,40.0,54.0,217.0
2,20152,RURAL,A,ACADEMICO,MIXTO,COMPLETA,PAMPLONITA,OFICIAL,M,PAMPLONA,...,No,No,No,A-,38.0,62.0,45.0,57.0,48.0,259.0
3,20142,URBANO,A,TECNICO,MIXTO,COMPLETA,MUTISCUA,OFICIAL,F,PAMPLONA,...,No,No,Si,A1,58.0,58.0,56.0,60.0,58.0,290.0
4,20152,URBANO,A,TECNICO/ACADEMICO,MIXTO,MANANA,CUCUTA,OFICIAL,M,CUCUTA,...,No,No,No,A-,41.0,46.0,44.0,46.0,49.0,229.0

In [2]:
data_completa.describe(include='object').transpose()

,count,unique,top,freq
cole_area_ubicacion,88622,2,URBANO,81243
cole_calendario,88622,1,A,88622
cole_caracter,88622,4,TECNICO/ACADEMICO,48900
cole_genero,88622,3,MIXTO,82755
cole_jornada,88622,6,MANANA,49278
cole_mcpio_ubicacion,88622,39,CUCUTA,49672
cole_naturaleza,88622,2,OFICIAL,65877
estu_genero,88622,2,F,48969
estu_mcpio_presentacion,88622,14,CUCUTA,53692
estu_mcpio_reside,88622,40,CUCUTA,49474
fami_cuartoshogar,88622,11,Tres,33936
fami_educacionmadre,88622,12,Secundaria (Bachillerato) completa,22306
fami_educacionpadre,88622,12,Primaria incompleta,20337
fami_estratovivienda,88622,7,Estrato 1,38658
fami_personashogar,88622,17,3 a 4,21268
fami_tieneautomovil,88622,2,No,68026
fami_tienecomputador,88622,2,Si,45987
fami_tieneinternet,88622,2,Si,46741
fami_tienelavadora,88622,2,Si,57360
desemp_ingles,88622,5,A-,39598

#### Generamos nuestras variables dummies, para poder trabajar estos variables categoricas:

In [3]:
data_encoded = pd.get_dummies(data_completa, columns=['cole_area_ubicacion', 'cole_calendario', 'cole_caracter', 'cole_genero', 'cole_jornada', 
                                             'cole_mcpio_ubicacion', 'cole_naturaleza', 'estu_genero', 'estu_mcpio_presentacion', 'estu_mcpio_reside',
                                             'fami_cuartoshogar', 'fami_educacionmadre', 'fami_educacionpadre', 'fami_estratovivienda', 
                                             'fami_personashogar', 'fami_tieneautomovil', 'fami_tienecomputador', 'fami_tieneinternet', 
                                             'fami_tienelavadora', 'desemp_ingles'], drop_first=True)
data_encoded = data_encoded.astype(int)
data_encoded

,periodo,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO,cole_caracter_NO APLICA,cole_caracter_TECNICO,...,fami_personashogar_Tres,fami_personashogar_Una,fami_tieneautomovil_Si,fami_tienecomputador_Si,fami_tieneinternet_Si,fami_tienelavadora_Si,desemp_ingles_A1,desemp_ingles_A2,desemp_ingles_B+,desemp_ingles_B1
0,20142,36,44,51,37,37,209,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,20194,42,41,39,40,54,217,1,0,0,...,0,0,1,0,0,1,0,0,0,0
2,20152,38,62,45,57,48,259,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,20142,58,58,56,60,58,290,1,0,1,...,0,0,1,0,0,1,1,0,0,0
4,20152,41,46,44,46,49,229,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88617,20194,45,43,44,42,47,220,1,0,0,...,0,0,0,0,0,1,0,0,0,0
88618,20152,60,77,68,77,62,351,1,0,0,...,0,0,1,1,1,1,0,1,0,0
88619,20152,58,52,53,45,44,246,1,0,0,...,0,0,1,1,1,1,1,0,0,0
88620,20194,82,82,71,69,71,370,1,0,0,...,0,0,0,1,1,1,0,0,1,0
88621,20211,44,62,53,58,55,280,1,0,0,...,0,0,0,1,1,1,0,0,0,0

In [4]:
data_x = data_encoded.drop(['punt_ingles', 'punt_matematicas', 'punt_sociales_ciudadanas', 'punt_c_naturales', 'punt_lectura_critica',
                            'punt_global'], axis=1)
data_y = data_encoded['punt_global']

print(data_x.shape)
print(data_y.shape)
data_x

(88622, 166)
(88622,)

,periodo,cole_area_ubicacion_URBANO,cole_caracter_NO APLICA,cole_caracter_TECNICO,cole_caracter_TECNICO/ACADEMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MANANA,cole_jornada_NOCHE,cole_jornada_SABATINA,...,fami_personashogar_Tres,fami_personashogar_Una,fami_tieneautomovil_Si,fami_tienecomputador_Si,fami_tieneinternet_Si,fami_tienelavadora_Si,desemp_ingles_A1,desemp_ingles_A2,desemp_ingles_B+,desemp_ingles_B1
0,20142,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20194,1,0,0,1,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,20152,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,20142,1,0,1,0,0,1,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,20152,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88617,20194,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
88618,20152,1,0,0,1,0,1,1,0,0,...,0,0,1,1,1,1,0,1,0,0
88619,20152,1,0,0,0,0,1,1,0,0,...,0,0,1,1,1,1,1,0,0,0
88620,20194,1,0,0,1,0,1,0,0,0,...,0,0,0,1,1,1,0,0,1,0
88621,20211,1,0,0,0,0,1,0,0,0,...,0,0,0,1,1,1,0,0,0,0

In [5]:
import sklearn
from sklearn.preprocessing import LabelEncoder, StandardScaler

scaler = StandardScaler()
data_x[['periodo']] = scaler.fit_transform(data_x[['periodo']])
data_x

,periodo,cole_area_ubicacion_URBANO,cole_caracter_NO APLICA,cole_caracter_TECNICO,cole_caracter_TECNICO/ACADEMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MANANA,cole_jornada_NOCHE,cole_jornada_SABATINA,...,fami_personashogar_Tres,fami_personashogar_Una,fami_tieneautomovil_Si,fami_tienecomputador_Si,fami_tieneinternet_Si,fami_tienelavadora_Si,desemp_ingles_A1,desemp_ingles_A2,desemp_ingles_B+,desemp_ingles_B1
0,-1.155397,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.725452,1,0,0,1,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,-0.793695,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,-1.155397,1,0,1,0,0,1,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,-0.793695,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88617,0.725452,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
88618,-0.793695,1,0,0,1,0,1,1,0,0,...,0,0,1,1,1,1,0,1,0,0
88619,-0.793695,1,0,0,0,0,1,1,0,0,...,0,0,1,1,1,1,1,0,0,0
88620,0.725452,1,0,0,1,0,1,0,0,0,...,0,0,0,1,1,1,0,0,1,0
88621,1.340345,1,0,0,0,0,1,0,0,0,...,0,0,0,1,1,1,0,0,0,0

In [6]:
import sklearn
from sklearn.model_selection import train_test_split

x_train_full, x_test, y_train_full, y_test = train_test_split(
    data_x, data_y, test_size=0.2, random_state=42) #Dividir el conjunto de datos en entrenamiento y valaidacion, 80% entrenamiento, 20% validacion

x_train, x_valid, y_train, y_valid = train_test_split(
    x_train_full, y_train_full, test_size=0.2, random_state=42) #Dividir el conjunto en  entrenamiento

print(x_train.shape)
print(x_valid.shape)
print(x_test.shape)

(56717, 166)
(14180, 166)
(17725, 166)

In [7]:
# Usaremos argparse para pasarle argumentos a las funciones de entrenamiento
import argparse

parser = argparse.ArgumentParser(description='Entrenamiento de una red feed-forward para el problema de clasificación con datos MNIST en TensorFlow/Keras')
parser.add_argument('--batch_size', '-b', type=int, default=32)
parser.add_argument('--epochs', '-e', type=int, default=40)
parser.add_argument('--learning_rate', '-l', type=float, default=0.001)
parser.add_argument('--num_hidden_units', '-n', type=int, default=128)
parser.add_argument('--num_hidden_layers', '-N', type=int, default=2)
parser.add_argument('--dropout', '-d', type=float, default=0.20)
parser.add_argument('--activation', '-a', type=str, default="relu")

args = parser.parse_args([])

In [8]:
import mlflow 
import mlflow.keras
import keras
import tensorflow as tf
import tensorflow.keras as tk
from keras import models
from keras import layers

def get_optimizer():
    """
    :return: Keras optimizer
    """
    optimizer=tf.keras.optimizers.Adam(learning_rate=args.learning_rate)
    return optimizer

WARNING:tensorflow:From c:\Users\jorru\OneDrive - Universidad de los andes\Maestria\Analítica_computacional\Proyecto_3\.venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [9]:
# Esta función define una corrida del modelo, con entrenamiento y 
# registro en MLflow
def run_mlflow(run_name="MLflow CE MNIST"):
    # Iniciamos una corrida de MLflow
    mlflow.start_run(run_name=run_name)
    run = mlflow.active_run()
    # MLflow asigna un ID al experimento y a la corrida
    experimentID = run.info.experiment_id
    runID = run.info.run_uuid
    # reistro automáticos de las métricas de keras
    mlflow.keras.autolog()
    model = models.Sequential()
    
    # Agregamos capas ocultas a la red
    # en los argumentos: --num_hidden_layers o -N 
    for n in range(0, args.num_hidden_layers):
        # agregamos una capa densa (completamente conectada) con función de activación relu
        model.add(layers.Dense(args.num_hidden_units, activation=args.activation))
        # agregamos dropout como método de regularización para aleatoriamente descartar una capa
        # si los gradientes son muy pequeños
        model.add(layers.Dropout(args.dropout))

    # capa final con 10 nodos de salida y activación softmax 
    model.add(layers.Dense(10, activation=tf.nn.relu))
    # Use Scholastic Gradient Descent (SGD) or Adadelta
    # https://keras.io/optimizers/
    optimizer = get_optimizer()

    # compilamos el modelo y definimos la función de pérdida  
    # otras funciones de pérdida comunes para problemas de clasificación
    # 1. sparse_categorical_crossentropy
    # 2. binary_crossentropy
    model.compile(optimizer=optimizer,
                 loss='mean_absolute_error',
                 metrics=['mse'])

    # entrenamos el modelo
    print("-" * 100)
    model.fit(x_train, y_train, epochs=args.epochs, batch_size=args.batch_size)
    # evaluamos el modelo
    test_loss, test_acc = model.evaluate(x_test, y_test, verbose=2)
    mlflow.end_run(status='FINISHED')
    return (experimentID, runID)

In [10]:
args = parser.parse_args(["--batch_size", '256', '--epochs', '10'])

# corrida con parámetros diferentes a los por defecto
layer_configs = [
    {'num_hidden_layers': 3, 'num_hidden_units': 128},
    {'num_hidden_layers': 4, 'num_hidden_units': 160},
]
for config in layer_configs:

    # Update args with the current configuration
    args.num_hidden_layers = config['num_hidden_layers']
    args.num_hidden_units = config['num_hidden_units']
    (experimentID, runID) = run_mlflow(run_name=f"Prueba_con_{args.num_hidden_layers}_capas_{args.num_hidden_units}_neuronas")
    print("MLflow Run completed with run_id {} and experiment_id {}".format(runID, experimentID))
    print(tf.__version__)

WARNING:tensorflow:From c:\Users\jorru\OneDrive - Universidad de los andes\Maestria\Analítica_computacional\Proyecto_3\.venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

2024/11/28 16:40:08 WARNING mlflow.tensorflow: Encountered unexpected error while inferring batch size from training dataset: 'Sequential' object has no attribute '_nested_inputs'
2024/11/28 16:40:08 WARNING mlflow.tensorflow: Unrecognized dataset type <class 'pandas.core.frame.DataFrame'>. Dataset logging skipped.
2024/11/28 16:40:08 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during autologging: This model has not yet been built. Build the model first by calling `build()` or by calling the model on a batch of data.

----------------------------------------------------------------------------------------------------
Epoch 1/10
WARNING:tensorflow:From c:\Users\jorru\OneDrive - Universidad de los andes\Maestria\Analítica_computacional\Proyecto_3\.venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\jorru\OneDrive - Universidad de los andes\Maestria\Analítica_computacional\Proyecto_3\.venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

207/222 [==========================>...] - ETA: 0s - loss: 88.0500 - mse: 16091.0830

2024/11/28 16:40:10 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 2s 4ms/step - loss: 84.6566 - mse: 15172.4482
Epoch 2/10
209/222 [===========================>..] - ETA: 0s - loss: 34.7403 - mse: 1902.6726

2024/11/28 16:40:11 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 34.6932 - mse: 1897.4270
Epoch 3/10
218/222 [============================>.] - ETA: 0s - loss: 33.1968 - mse: 1736.3665

2024/11/28 16:40:11 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 33.1881 - mse: 1735.2209
Epoch 4/10
205/222 [==========================>...] - ETA: 0s - loss: 32.4889 - mse: 1657.9508

2024/11/28 16:40:12 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 32.4537 - mse: 1654.6128
Epoch 5/10
213/222 [===========================>..] - ETA: 0s - loss: 31.7683 - mse: 1592.9236

2024/11/28 16:40:13 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 31.7806 - mse: 1594.7639
Epoch 6/10
207/222 [==========================>...] - ETA: 0s - loss: 31.2608 - mse: 1537.6637

2024/11/28 16:40:14 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 31.2910 - mse: 1540.0266
Epoch 7/10
215/222 [============================>.] - ETA: 0s - loss: 31.1841 - mse: 1526.5342

2024/11/28 16:40:14 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 31.1733 - mse: 1525.8564
Epoch 8/10
217/222 [============================>.] - ETA: 0s - loss: 30.5355 - mse: 1468.3270

2024/11/28 16:40:15 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 30.5377 - mse: 1468.3838
Epoch 9/10
220/222 [============================>.] - ETA: 0s - loss: 30.5242 - mse: 1464.7618

2024/11/28 16:40:16 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 30.5224 - mse: 1464.9679
Epoch 10/10
213/222 [===========================>..] - ETA: 0s - loss: 30.3911 - mse: 1448.8644

2024/11/28 16:40:17 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 3ms/step - loss: 30.3641 - mse: 1446.7675

2024/11/28 16:40:17 WARNING mlflow.tensorflow: Failed to infer model signature: could not sample data to infer model signature: Cannot log input example or model signature for input with type <class 'pandas.core.frame.DataFrame'>. TensorFlow Keras autologging can only log input examples and model signatures for the following input types: numpy.ndarray, dict[string -> numpy.ndarray], tensorflow.keras.utils.Sequence, and tensorflow.data.Dataset (TensorFlow >= 2.1.0 required)
2024/11/28 16:40:17 WARNING mlflow.tensorflow: You are saving a TensorFlow Core model or Keras model without a signature. Inference with mlflow.pyfunc.spark_udf() will not work unless the model's pyfunc representation accepts pandas DataFrames as inference inputs.

INFO:tensorflow:Assets written to: C:\Users\jorru\AppData\Local\Temp\tmp929bqe4e\model\data\model\assets

INFO:tensorflow:Assets written to: C:\Users\jorru\AppData\Local\Temp\tmp929bqe4e\model\data\model\assets
2024/11/28 16:40:26 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2024/11/28 16:40:26 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during tensorflow autologging: When an mlflow-artifacts URI was supplied, the tracking URI must be a valid http or https URI, but it was currently set to file:///c:/Users/jorru/OneDrive%20-%20Universidad%20de%20los%20andes/Maestria/Anal%C3%ADtica_computacional/Proyecto_3/mlruns. Perhaps you forgot to set the tracking URI to the running MLflow server. To set the tracking URI, use either of the following methods:
1. Set the MLFLOW_TRACKING_URI environment variable to the desired tracking URI. `export MLFLOW_TRACKING_URI=http://localhost:5000`
2. Set the tracking URI programmatically by calling `mlflow.set_tracking_uri`. `mlflow.set_tracking_uri('http://localhost:5000')`

554/554 - 1s - loss: 25.2086 - mse: 996.6158 - 733ms/epoch - 1ms/step

2024/11/28 16:40:27 WARNING mlflow.tensorflow: Encountered unexpected error while inferring batch size from training dataset: 'Sequential' object has no attribute '_nested_inputs'

MLflow Run completed with run_id 5f2304115ac34d7298ff7e17d2e2928e and experiment_id 0
2.15.0
----------------------------------------------------------------------------------------------------

2024/11/28 16:40:27 WARNING mlflow.tensorflow: Unrecognized dataset type <class 'pandas.core.frame.DataFrame'>. Dataset logging skipped.
2024/11/28 16:40:27 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during autologging: This model has not yet been built. Build the model first by calling `build()` or by calling the model on a batch of data.

Epoch 1/10
  1/222 [..............................] - ETA: 2:52 - loss: 260.9105 - mse: 70560.7969WARNING:tensorflow:Callback method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0015s vs `on_train_batch_end` time: 0.0059s). Check your callbacks.

WARNING:tensorflow:Callback method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0015s vs `on_train_batch_end` time: 0.0059s). Check your callbacks.

216/222 [============================>.] - ETA: 0s - loss: 71.4829 - mse: 11367.1826

2024/11/28 16:40:29 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 2s 5ms/step - loss: 70.5755 - mse: 11131.3047
Epoch 2/10
222/222 [==============================] - ETA: 0s - loss: 35.0816 - mse: 1934.4198

2024/11/28 16:40:30 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 35.0816 - mse: 1934.4198
Epoch 3/10
218/222 [============================>.] - ETA: 0s - loss: 33.5638 - mse: 1768.2201

2024/11/28 16:40:31 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 33.5638 - mse: 1768.0221
Epoch 4/10
221/222 [============================>.] - ETA: 0s - loss: 32.6103 - mse: 1676.1053

2024/11/28 16:40:32 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 32.6063 - mse: 1675.5989
Epoch 5/10
218/222 [============================>.] - ETA: 0s - loss: 31.8041 - mse: 1591.7058

2024/11/28 16:40:33 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 31.7892 - mse: 1590.4281
Epoch 6/10
211/222 [===========================>..] - ETA: 0s - loss: 31.2924 - mse: 1541.6702

2024/11/28 16:40:34 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 31.3080 - mse: 1542.9819
Epoch 7/10
222/222 [==============================] - ETA: 0s - loss: 31.1053 - mse: 1526.6628

2024/11/28 16:40:35 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 31.1053 - mse: 1526.6628
Epoch 8/10
212/222 [===========================>..] - ETA: 0s - loss: 30.7271 - mse: 1489.6642

2024/11/28 16:40:36 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 30.7149 - mse: 1488.4934
Epoch 9/10
214/222 [===========================>..] - ETA: 0s - loss: 30.3618 - mse: 1452.5076

2024/11/28 16:40:38 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 30.3731 - mse: 1452.5244
Epoch 10/10
217/222 [============================>.] - ETA: 0s - loss: 30.1745 - mse: 1433.3763

2024/11/28 16:40:39 WARNING mlflow.utils.checkpoint_utils: Checkpoint logging is skipped, because checkpoint 'save_best_only' config is True, it requires to compare the monitored metric value, but the provided monitored metric value is not available.

222/222 [==============================] - 1s 5ms/step - loss: 30.1693 - mse: 1432.8108

2024/11/28 16:40:39 WARNING mlflow.tensorflow: Failed to infer model signature: could not sample data to infer model signature: Cannot log input example or model signature for input with type <class 'pandas.core.frame.DataFrame'>. TensorFlow Keras autologging can only log input examples and model signatures for the following input types: numpy.ndarray, dict[string -> numpy.ndarray], tensorflow.keras.utils.Sequence, and tensorflow.data.Dataset (TensorFlow >= 2.1.0 required)
2024/11/28 16:40:39 WARNING mlflow.tensorflow: You are saving a TensorFlow Core model or Keras model without a signature. Inference with mlflow.pyfunc.spark_udf() will not work unless the model's pyfunc representation accepts pandas DataFrames as inference inputs.

INFO:tensorflow:Assets written to: C:\Users\jorru\AppData\Local\Temp\tmp1ncck7d5\model\data\model\assets

INFO:tensorflow:Assets written to: C:\Users\jorru\AppData\Local\Temp\tmp1ncck7d5\model\data\model\assets
2024/11/28 16:40:45 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2024/11/28 16:40:45 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during tensorflow autologging: When an mlflow-artifacts URI was supplied, the tracking URI must be a valid http or https URI, but it was currently set to file:///c:/Users/jorru/OneDrive%20-%20Universidad%20de%20los%20andes/Maestria/Anal%C3%ADtica_computacional/Proyecto_3/mlruns. Perhaps you forgot to set the tracking URI to the running MLflow server. To set the tracking URI, use either of the following methods:
1. Set the MLFLOW_TRACKING_URI environment variable to the desired tracking URI. `export MLFLOW_TRACKING_URI=http://localhost:5000`
2. Set the tracking URI programmatically by calling `mlflow.set_tracking_uri`. `mlflow.set_tracking_uri('http://localhost:5000')`

554/554 - 1s - loss: 25.4152 - mse: 1006.4689 - 602ms/epoch - 1ms/step
MLflow Run completed with run_id d59cd78b2fbc4214b9cece509d495766 and experiment_id 0
2.15.0